# Creacion de datos en sqlite3

## Importar librerias

In [25]:
import sqlite3
import pandas as pd
from faker import Faker
import random

## Creacion de lista con datos personales para 50000 estudiantes

In [14]:
fk = Faker()
data = []
domain = ['yahoo.com','hotmail.com','gmail.com', 'outlook.com','soho.com']
for x in range(1,500001):
    first_name = fk.first_name()
    last_name = fk.last_name()
    name = first_name + " "+last_name
    email = first_name[0].lower()+last_name.lower()+"@"+domain[random.randint(0,len(domain)-1)]
    data.append((x,name,email))

## Creacion de la base de datos "students.db"

In [20]:
conn = sqlite3.connect('students.db')
cursor = conn.cursor()
# Crear la tabla 'personal_data'
cursor.execute("""
CREATE TABLE IF NOT EXISTS personal_data (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT NOT NULL,
    correo TEXT NOT NULL);
""")

## Creacion de la tabla "personal_data"

In [22]:
cursor.executemany("""
INSERT INTO personal_data (id, nombre, correo)
VALUES (?, ?, ?);
""", data)

# Confirmar los cambios y cerrar la conexi√≥n
conn.commit()
conn.close()

## Visualizacion de datos

In [32]:
conn = sqlite3.connect('students.db')
df = pd.read_sql_query('SELECT * from personal_data', conn)
conn.close()
df.head()

   id           nombre                correo
0   1  Heather Herring  hherring@hotmail.com
1   2   Kelly Jacobson   kjacobson@yahoo.com
2   3       Bill Mcgee      bmcgee@gmail.com
3   4     Rose Schmitt  rschmitt@hotmail.com
4   5      Luke Morris   lmorris@outlook.com